<div class="navbar">
    <h1>BACKEND APP</h1>
</div>
<div class="flex-container">
    <form id="registerForm" name="registerForm" class="no-flex-container">
        <h6>NUEVO USUARIO:</h6>
        <input id="register-user-id" name="username" type="email" placeholder="E-mail" required><br>
        <input id="register-user-name" name="name" type="text" placeholder="Nombre" required><br>
        <input id="register-user-last-name" name="last_name" type="text" placeholder="Apellido" required><br>
        <input id="register-user-age" name="age" type="number" placeholder="Edad" required><br>
        <input id="register-user-alias" name="alias" type="text" placeholder="Alias" required><br>
        <input id="register-user-adress" name="adress" type="text" placeholder="Domicilio" required><br>
        <input id="register-user-phone" name="phone" type="text" placeholder="Telefono" required><br>
        <label for="register-user-avatar">Foto</label><br>
        <input id="register-user-avatar" name="avatar" type="file" placeholder="Foto" required><br>
        <input id="register-user-password" name="password" type="password" placeholder="Contraseña" required><br>
        <input id="register-user-repeat-password" name="repeat-password" type="password" placeholder="Repite tu contraseña" required><br>
        <button type="button submit" class="btn btn-success">Registrarse</button>
    </form>
    <form id="loginForm" name="loginForm" class="no-flex-container">
        <h6>LOGIN:</h6>
        <label for="login-user-id">Email:</label><br>
        <input name="login-user-id" type="text" required><br>
        <label for="login-user-password">Contraseña:</label><br>
        <input name="login-user-password" type="password" required><br>
        <button type="button submit" class="btn btn-success">Ingresar</button><br>
        {{!-- <button id="login-facebook-button" type="button" class="btn btn-primary">Log in with Facebook</button> --}}
    </form>
</div>
<script type="text/javascript" src="index.js"></script>

