<h3>Nuevo producto:</h3>
<form id="productForm" name="productForm" class="no-flex-container">
    <label for="title">Tipo</label><br>
    <input name="title" required><br>
    <label for="price">Precio</label><br>
    <input name="price" type="number" required><br>
    <label for="image">Foto</label><br>
    <input name="image" type="file" required><br>
    <button type="button submit" class="btn btn-success">REGISTRAR PRODUCTO</button> 
</form>
<div class="no-flex-container">
    <a href="./api/productos"><button type="button" class="btn btn-primary">Ver lista de productos</button></a>
</div>
<h3>Productos en tiempo real:</h3>
<div>
    <div id="home-product-list" class="flex-container"></div>
</div>
<h3>Centro de mensajes:</h3>
<div>
    <div id="home-chat" class="no-flex-container">
        <div id="home-chat-user-container">
            <input id="user" type="text" placeholder="Nombre"><br>
            <input id="email" type="email" placeholder="E-mail"><br>
        </div>    
        <input id="message-input" class="no-flex-container" type="text" placeholder="mensaje">
        <button id="message-send-button" type="button" class="btn btn-secondary">Enviar</button>
        <div id="home-chat-message-log" class="no-flex-container"></div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="index.js"></script>