/* body {
    background-color: rgb(255, 203, 134);
} */

body {
    background-color: rgb(139, 255, 183);
}

button {
    margin:10px
}

h3 {
    padding-top:30px;
    padding-left: 100px;
}

h6 {
    color:rgb(46, 4, 161)
}

.flex-container {
    padding-top:20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.no-flex-container {
    margin: 10px;
    padding-top:20px;
    padding-left: 100px;
    justify-content: center;
}

#home-product-list > div {
    color: rgb(0, 0, 0);
    padding:10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

#home-product-list> div > img {
    width:100px;
    margin: 10px;
}

.card {
    margin: 5px
}

.chat-log-message-user {
    font-weight:bolder;
    color: blue
}
.chat-log-message-time {
    color: brown
}
.chat-log-message-text {
    color: green;
    font-style:italic
}



