{{#if products}}
    {{#each products}}
        <div class= "col-3">
            <h6>{{this.title}}</h6>
            <img src="{{this.thumbnail}}" alt="picture">
        </div>
    {{/each}}    
{{/if}}