{{#if products}}
    {{#each products}}
        <div>
            <h6>{{this.title}}</h6>
            <img src="{{this.thumbnail}}" alt="picture">
            <div>{{this.title}}</div>
        </div>
    {{/each}}    
{{/if}}